<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.simple_fields_for :memberships do |m| %>
      <%= m.input :travel_date %>
      <%= m.input :return_date %>
      <%= m.input :departure %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <a class="home-plus-button-primary" href="/memberships/new"><i class="fa-solid fa-plus" style="color: #ffffff;"></i></a>
    <h5 class="p-3">Add Travelers</h5>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
