<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <%= link_to :back, class: "btn btn-secondary" do %>
        <i class="fa-solid fa-arrow-left"></i> Back
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12">
      <h2>The travellers</h2>
      <% if @memberships.any? %>
        <ul class="list-group">
          <% @memberships.each do |membership| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= membership.user.name %>
              <div>
                <%= link_to "Open", group_membership_path(group_id: @group.id, id: membership.id), class: "btn btn-info btn-sm" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No travellers yet <%= link_to "Add a new traveler", new_group_membership_path %>.</p>
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12">
      <%= link_to "Add a new traveller", new_group_membership_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<%console%>
