<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <%= link_to groups_path, class: "btn btn-secondary" do %>
        <i class="fa-solid fa-arrow-left"></i> Back
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12">
      <h2><%= @group.name %></h2>
      <ul class="list-group">
        <% @memberships.each do |membership| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <%= membership.user.name %>
              <%= link_to edit_group_membership_path(group_id: @group.id, id: membership.id), class: "ms-2" do %>
                <i class="fa fa-pen"></i>
              <% end %>
            </div>
            <div class="d-flex align-items-center">
              <%= membership.departure %>
              <%= link_to edit_group_membership_path(group_id: @group.id, id: membership.id), class: "ms-2" do %>
                <i class="fa fa-pen"></i>
              <% end %>
            </div>
            <div class="d-flex align-items-center">
              <%= membership.travel_date %>
              <%= link_to edit_group_membership_path(group_id: @group.id, id: membership.id), class: "ms-2" do %>
                <i class="fa fa-pen"></i>
              <% end %>
            </div>
            <div class="d-flex align-items-center">
              <%= membership.return_date %>
              <%= link_to edit_group_membership_path(group_id: @group.id, id: membership.id), class: "ms-2" do %>
                <i class="fa fa-pen"></i>
              <% end %>
            </div>
            <div class="d-flex align-items-center">
              <%= link_to edit_group_membership_path(group_id: @group.id, id: membership.id), class: "ms-2" do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
      <!-- Edit Group Name -->
      <div class="row my-3">
        <div class="col-12">
          <%= link_to "Add a new traveller", new_group_membership_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <%console%>
