<div class="back-button">
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left fa-2xl"></i>
  <% end %>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="my-3">Create a Trip</h1>
      <%= simple_form_for(@group) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :name%>
        </div>
        <%= f.text_field :inv_code, value: SecureRandom.hex(10).to_s, class: 'd-none' %>
        <div class="form-actions">
          <%= f.button :submit,  "Create your Trip", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'travelerInfo' %>
<%console%>
