<div class="back-button">
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left fa-2xl"></i>
  <% end %>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="my-3"> <%= @group.name %> Trip</h1>
      <% @memberships.each do |membership| %>
        <div class="form-inputs">
          <%= membership.user.name %>
        </div>
        <div class="form-inputs">
          <%= membership.departure %>
        </div>
        <div class="form-inputs">
          <%= membership.travel_date %>
        </div>
        <div class="form-inputs">
          <%= membership.return_date %>
        </div>
        <div class="form-actions">
          <%= button_to "Modify", edit_group_membership_path(membership), class: "btn btn-primary" %>
        </div>
        <div class="form-actions">
          <%# <%= button_to "Go to Destinations", destinations_path(membership), class: "btn btn-primary" %> %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'travelerInfo' %>
<%console%>
